<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edianzu.cloud.assets.dao.data.basic.AssetBasicDataMapper" >
  <resultMap id="BaseResultMap" type="com.edianzu.cloud.assets.model.data.basic.AssetBasicData" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="asset_status" property="assetStatus" jdbcType="VARCHAR" />
    <result column="asset_source" property="assetSource" jdbcType="VARCHAR" />
    <result column="asset_other" property="assetOther" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="root_company_id" property="rootCompanyId" jdbcType="BIGINT" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="month_begin_hand_end" property="monthBeginHandEnd" jdbcType="INTEGER" />
    <result column="cdate" property="cdate" jdbcType="TIMESTAMP" />
    <result column="mdate" property="mdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, asset_status, asset_source, asset_other, company_id, root_company_id, date, month_begin_hand_end, 
    cdate, mdate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.edianzu.cloud.assets.model.data.basic.AssetBasicDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from asset_basic_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from asset_basic_data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from asset_basic_data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.edianzu.cloud.assets.model.data.basic.AssetBasicDataExample" >
    delete from asset_basic_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.edianzu.cloud.assets.model.data.basic.AssetBasicData" >
    insert into asset_basic_data (id, asset_status, asset_source, 
      asset_other, company_id, root_company_id, 
      date, month_begin_hand_end, cdate, 
      mdate)
    values (#{id,jdbcType=BIGINT}, #{assetStatus,jdbcType=VARCHAR}, #{assetSource,jdbcType=VARCHAR}, 
      #{assetOther,jdbcType=VARCHAR}, #{companyId,jdbcType=BIGINT}, #{rootCompanyId,jdbcType=BIGINT}, 
      #{date,jdbcType=TIMESTAMP}, #{monthBeginHandEnd,jdbcType=INTEGER}, #{cdate,jdbcType=TIMESTAMP}, 
      #{mdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.edianzu.cloud.assets.model.data.basic.AssetBasicData" >
    insert into asset_basic_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="assetStatus != null" >
        asset_status,
      </if>
      <if test="assetSource != null" >
        asset_source,
      </if>
      <if test="assetOther != null" >
        asset_other,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="rootCompanyId != null" >
        root_company_id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="monthBeginHandEnd != null" >
        month_begin_hand_end,
      </if>
      <if test="cdate != null" >
        cdate,
      </if>
      <if test="mdate != null" >
        mdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="assetStatus != null" >
        #{assetStatus,jdbcType=VARCHAR},
      </if>
      <if test="assetSource != null" >
        #{assetSource,jdbcType=VARCHAR},
      </if>
      <if test="assetOther != null" >
        #{assetOther,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="rootCompanyId != null" >
        #{rootCompanyId,jdbcType=BIGINT},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="monthBeginHandEnd != null" >
        #{monthBeginHandEnd,jdbcType=INTEGER},
      </if>
      <if test="cdate != null" >
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="mdate != null" >
        #{mdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.edianzu.cloud.assets.model.data.basic.AssetBasicDataExample" resultType="java.lang.Integer" >
    select count(*) from asset_basic_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update asset_basic_data
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.assetStatus != null" >
        asset_status = #{record.assetStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.assetSource != null" >
        asset_source = #{record.assetSource,jdbcType=VARCHAR},
      </if>
      <if test="record.assetOther != null" >
        asset_other = #{record.assetOther,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=BIGINT},
      </if>
      <if test="record.rootCompanyId != null" >
        root_company_id = #{record.rootCompanyId,jdbcType=BIGINT},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.monthBeginHandEnd != null" >
        month_begin_hand_end = #{record.monthBeginHandEnd,jdbcType=INTEGER},
      </if>
      <if test="record.cdate != null" >
        cdate = #{record.cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mdate != null" >
        mdate = #{record.mdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update asset_basic_data
    set id = #{record.id,jdbcType=BIGINT},
      asset_status = #{record.assetStatus,jdbcType=VARCHAR},
      asset_source = #{record.assetSource,jdbcType=VARCHAR},
      asset_other = #{record.assetOther,jdbcType=VARCHAR},
      company_id = #{record.companyId,jdbcType=BIGINT},
      root_company_id = #{record.rootCompanyId,jdbcType=BIGINT},
      date = #{record.date,jdbcType=TIMESTAMP},
      month_begin_hand_end = #{record.monthBeginHandEnd,jdbcType=INTEGER},
      cdate = #{record.cdate,jdbcType=TIMESTAMP},
      mdate = #{record.mdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.edianzu.cloud.assets.model.data.basic.AssetBasicData" >
    update asset_basic_data
    <set >
      <if test="assetStatus != null" >
        asset_status = #{assetStatus,jdbcType=VARCHAR},
      </if>
      <if test="assetSource != null" >
        asset_source = #{assetSource,jdbcType=VARCHAR},
      </if>
      <if test="assetOther != null" >
        asset_other = #{assetOther,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="rootCompanyId != null" >
        root_company_id = #{rootCompanyId,jdbcType=BIGINT},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="monthBeginHandEnd != null" >
        month_begin_hand_end = #{monthBeginHandEnd,jdbcType=INTEGER},
      </if>
      <if test="cdate != null" >
        cdate = #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="mdate != null" >
        mdate = #{mdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edianzu.cloud.assets.model.data.basic.AssetBasicData" >
    update asset_basic_data
    set asset_status = #{assetStatus,jdbcType=VARCHAR},
      asset_source = #{assetSource,jdbcType=VARCHAR},
      asset_other = #{assetOther,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=BIGINT},
      root_company_id = #{rootCompanyId,jdbcType=BIGINT},
      date = #{date,jdbcType=TIMESTAMP},
      month_begin_hand_end = #{monthBeginHandEnd,jdbcType=INTEGER},
      cdate = #{cdate,jdbcType=TIMESTAMP},
      mdate = #{mdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>